<br>
<h2>Moje aktualnie podłączone urządzenia</h2>
<br>
<table class="table">
  <thead>
  <tr>
    <th>ID urządzenia</th>
    <th>Numer telefonu</th>
    <th>Nazwa połączenia</th>
    <th>Model urządzenia</th>
    <th>Data dołączenia</th>
    <th>Aktualna szerokość geograficzna</th>
    <th>Aktualna długość geograficzna</th>
  </tr>
  </thead>
  <tbody *ngFor="let device of devices">
  <tr>
    <td>{{device.id}}</td>
    <td>{{device.phoneNumber}}</td>
    <td>{{device.connectionName}}</td>
    <td>{{device.deviceName}}</td>
    <td>{{device.startConnection}}</td>
    <td>{{device.actualLocation.gpsLatitude}}</td>
    <td>{{device.actualLocation.gpsLongitude}}</td>
  </tr>
  </tbody>
</table>

